BOT_TOKEN="YOUR_BOT_TOKEN"
BOT_APPLICATION_ID="YOUR_BOT_APPLICATION_ID"

# LAVA_IDENTIFIER=""
LAVA_HOST="127.0.0.1"
LAVA_PORT="2333"
LAVA_SECURE="ENABLED" # Set to something else to disable
LAVA_PASS="youshallnotpass"

# ICONS
AUTOPLAY_ICON=https://github.com/heapybruh/simple.ts/blob/main/src/assets/autoplay.png?raw=true
LOGO=https://github.com/heapybruh/simple.ts/blob/main/src/assets/logo.png?raw=true
LOOP_ICON=https://github.com/heapybruh/simple.ts/blob/main/src/assets/loop.png?raw=true
LYRICS_ICON=https://github.com/heapybruh/simple.ts/blob/main/src/assets/lyrics.png?raw=true
PLAY_ICON=https://github.com/heapybruh/simple.ts/blob/main/src/assets/play.png?raw=true
QUEUE_ICON=https://github.com/heapybruh/simple.ts/blob/main/src/assets/queue.png?raw=true

EMBED_COLOR="3078c7"

# GENIUS_API_KEY=""
# /lyrics command WILL work without an API key, by scraping the website
# Declare GENIUS_API_KEY for better /lyrics command experience
# https://genius.com/api-clients
# Use "CLIENT ACCESS TOKEN"